:root {
    --def-transition-duration: .5s;
    --def-link-duration: .3s;
    --def-transition-delay: .2s;

    --color-bg: white;
    /* #f6f5f4 */
    --color-bg-panel: #a3a3a3;
    --color-bg-info: #FF585860;

    --color-text: #2e2a27;
    --color-yellow: #FCC419;
    --color-yellow-10: #FCC41910;
    --color-yellow-60: #FCC41960;

    --default-spacing: 10px;

    --font-plain-text : "merriweather", Arial, Helvetica, sans-serif;
    --font-title: "Cinzel", Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html {
    font-family: var(--font-plain-text);
    overflow-x: hidden;
    max-width: 100%;
}

body {
    min-height: 100vh;
    min-height: 100dvh;
    width: 100%;
    max-width: 100%;
    background: var(--color-bg);
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    box-sizing: border-box;
}

h1 {
    font-size: 2rem;
    font-family: var(--font-title);
    padding-bottom: 0.5rem;
}
h6 {
    font-size: 4rem;
    font-family: var(--font-title);
    min-width: 90px;
    text-align: center;
}

h2,
td {
    font-size: 1.5rem;
    font-weight: normal;
}

h3 {
    font-size: 1rem;
    font-weight: normal;
}
p {
    font-size: 1rem;
}

svg {
    color: var(--color-yellow);
}

.svg-style {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: 100px;
}

button {
    background: transparent;
    border: 0;
    cursor: pointer;
    padding: 10px;
}

table {
    width: auto;
    margin-right: auto;
    border-spacing: 0;
}

td {
    padding: 0 var(--default-spacing);
}

::-webkit-scrollbar {
    width: 0.8rem;
    background-color: var(--color-bg);
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-bg-panel);
}

.page {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    align-items: start;
    flex: 1;
    max-width: 1440px;
}

.main {
    display: flex;
    flex-direction: column;
    gap: calc(var(--default-spacing)*6);
    width: 100%;
    padding: 0 calc(var(--default-spacing));
}

.main-content {
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
}

.img-container {
    max-width: 800px;
}

.main-content img {
    max-width: 100%;
    max-height: 100vh;
    max-height: 100dvh;
    object-fit: cover;
}

.countdown {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    justify-content: center;
}

.countdown-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: end;
}

.btn-foto {
    text-align: center;
    display: inline-flex;
    margin: 10px;
    padding: 20px;
    background-color: var(--color-yellow-10);
    border: solid 2px var(--color-yellow);
    border-radius: 6px;
}

.btn-foto:hover {
    background-color: var(--color-yellow-60);
}


.note {
    font-size: 0.8rem;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--default-spacing);
    padding: calc(var(--default-spacing)*4) calc(var(--default-spacing)) calc(var(--default-spacing)*2) calc(var(--default-spacing));
    width: 100%;
    max-width: 1440px;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
}

@media (max-width: 768px) {
    h6 {
        font-size: 2.5rem;
    min-width: 60px;
}
    h1 {
        font-size: 1.5rem;
        padding-bottom: 0.3rem;
    }

    h2,
    td {
        font-size: 1rem;
    }

    h3 {
        font-size: .7rem;
    }
    p {
        font-size: .8rem;
    }
    td {
        padding: 0 6px;
    }
    .svg-style {
        min-height: 60px;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .note {
        font-size: 0.6rem;
    }
}

@media (max-width: 500px) {
    h6 {
        font-size: 2rem;
    min-width: 50px;
}
    h1 {
        font-size: 1rem;
        padding-bottom: 0.2rem;
    }

    h2,
    td {
        font-size: .7rem;
    }

    h3 {
        font-size: .6rem;
    }
    p {
        font-size: .7rem;
    }
    td {
        padding: 0 4px;
    }
    .svg-style {
        min-height: 40px;
    }
    button {
        padding: 6px;
    }

    .countdown {
        gap: 10px;
    }
}

@media (max-width: 370px) {
    h6 {
        font-size: 1.5rem;
    min-width: 40px;
}
}